/build
*.iml
.gradle
/local.properties
.idea/
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/dictionaries/
.idea/**/libraries/
.idea/modules.xml
.idea/assetWizardSettings.xml
.idea/gradle.xml
.idea/misc.xml
.idea/caches/
/.idea/modules/
/.idea/libraries/
/.idea/vcs.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
